{:pom {:group-id "org.danielsz",
       :artifact-id "benjamin",
       :version "0.1.6",
       :name "benjamin"},
 :build-properties {:project-build-sourceEncoding "UTF-8"},
 :packaging {:jar {:enabled true,
                   :gpg {:enabled false}
                   :sources {:enabled false}}},
 :testing {:enabled true, :tools-deps-alias :test},
 :scm {:enabled true},
 :interactive {:enabled true
               :system {:enabled false,
                        :var "a.namespace/system-var",
                        :restart-on-change ["handler.clj"
                                            "system.clj"]},
               :proxy {:enabled false,
                       :socks {:host "127.0.0.1",
                               :port "1080",
                               :version "5",
                               :use-system-proxies false}},
               :repl-port :auto,
               :repl-host "127.0.0.1",
               :repl-unix-socket "nrepl.socket"
               :reload-on-save true,},
 :profiles {:enabled false}
 :distribution-management {:id "clojars",
                           :url "https://clojars.org/repo"}}
