{:pom {:group-id "org.danielsz",
       :artifact-id "benjamin",
       :version "0.1.5",
       :name "benjamin"},
 :build-properties {:project-build-sourceEncoding "UTF-8"},
 :packaging {:jar {:enabled true,
                   :gpg {:enabled false}
                   :sources {:enabled false}}},
 :testing {:enabled true, :tools-deps-alias :test},
 :scm {:enabled true},
 :interactive {:system {:enabled false,
                        :var "a.namespace/system-var",
                        :restart-on-change ["handler.clj"
                                            "system.clj"]},
               :figwheel {:enabled false,
                          :main {:watch-dirs ["src/cljs"],
                                 :open-url false},
                          :build {:main "main.core",
                                  :foreign-libs [],
                                  :output-dir "target/classes/js/compiled",
                                  :output-to "target/classes/js/main.js",
                                  :asset-path "/js/compiled",
                                  :output-wrapper true,
                                  :aot-cache true,
                                  :infer-externs true},
                          :tools-deps-alias :figwheel},
               :proxy {:enabled false,
                       :socks {:host "127.0.0.1",
                               :port "1080",
                               :version "5",
                               :use-system-proxies false}},
               :tools-deps-alias :repl,
               :repl-host "127.0.0.1",
               :reload-on-save true,
               :repl-port :auto,
               :enabled false},
 :profiles {:enabled false}
 :distribution-management {:id "clojars",
                           :url "https://clojars.org/repo"}}
