{:pom {:group-id "org.danielsz",
       :artifact-id "benjamin",
       :version "0.1.3",
       :name "benjamin"},
 :build-properties {:project-build-sourceEncoding "UTF-8"},
 :packaging {:uberjar {:enabled false,
                       :build-properties {:main-class "main.core"},
                       :remote-repository {:id "ssh-repository",
                                           :url "scpexe://user@domain:/home/.m2/repository"},
                       :excludes {:artifacts ["org.clojure:google-closure-library"],
                                  :filters ["META-INF/*.MF"
                                            "META-INF/*.SF"
                                            "META-INF/*.DSA"
                                            "META-INF/*.RSA"]},
                       :include-source false,
                       :obfuscation {:enabled false},
                       :graalvm {:enabled false,
                                 :with-https false,
                                 :bin-name ""},
                       :resources {:css {:enabled false,
                                         :css-source-include "**",
                                         :css-source-exclude "**/*.min.css",
                                         :css-final-file "styles.css",
                                         :web-app-source-dir "resources",
                                         :css-source-dir "css"},
                                   :cljs {:enabled false,
                                          :compiler-opts {:infer-externs true,
                                                          :optimizations :advanced,
                                                          :parallel-build true,
                                                          :verbose true,
                                                          :aot-cache true,
                                                          :output-to "js/main.js",
                                                          :output-wrapper true,
                                                          :foreign-libs [],
                                                          :main "main.core"},
                                          :tools-deps-alias :cljs},
                                   :images {:enabled false,
                                            :png {:dirs ["resources/images/logo"
                                                         "resources/images/testimonials"]},
                                            :jpeg {:dirs ["resources/images/logo"
                                                          "resources/images/testimonials"]}}}},
             :jar {:enabled true,
                   :remote-repository {:id "clojars",
                                       :url "https://clojars.org/repo"}}},
 :testing {:enabled true, :tools-deps-alias :test},
 :scm {:enabled true},
 :interactive {:system {:enabled false,
                        :var "a.namespace/system-var",
                        :restart-on-change ["handler.clj"
                                            "system.clj"]},
               :figwheel {:enabled false,
                          :main {:watch-dirs ["src/cljs"],
                                 :open-url false},
                          :build {:main "main.core",
                                  :foreign-libs [],
                                  :output-dir "target/classes/js/compiled",
                                  :output-to "target/classes/js/main.js",
                                  :asset-path "/js/compiled",
                                  :output-wrapper true,
                                  :aot-cache true,
                                  :infer-externs true},
                          :tools-deps-alias :figwheel},
               :proxy {:enabled false,
                       :socks {:host "127.0.0.1",
                               :port "1080",
                               :version "5",
                               :use-system-proxies false}},
               :tools-deps-alias :repl,
               :repl-host "127.0.0.1",
               :reload-on-save true,
               :repl-port :auto,
               :enabled false,
               :cljs {:enabled false,
                      :with-repl false,
                      :compiler-opts {:infer-externs true,
                                      :output-dir "target/classes/js/compiled",
                                      :optimizations :none,
                                      :parallel-build true,
                                      :verbose true,
                                      :aot-cache true,
                                      :output-to "target/classes/js/main.js",
                                      :asset-path "/js/compiled",
                                      :output-wrapper true,
                                      :watch "src/cljs",
                                      :source-map true,
                                      :foreign-libs [],
                                      :main "main.core"},
                      :tools-deps-alias :cljs}},
 :profiles {:enabled false}}
